main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 20px;
}

article{
    display: flex;
    line-height: 1.5em;
    margin-top: 50px;
}

aside{
    line-height: 1.5em;
    margin-block: 50px;
    border: 1px solid red;
}

h1{
    padding: 5px;
}

p{
    padding-inline: 5px;
    text-indent: 20px;    
}

div{
    border: 1px solid red;
    flex: 1;
}

picture{
    border: 1px solid red;
    flex: 1;
}

#foto__esquerda{
    
}

