main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 20px;
}

article{
    display: flex;
    line-height: 1.5em;
    margin-top: 50px;
    line-height: 2em;
}

aside{
    line-height: 1.5em;
    margin-block: 40px;
}

h1{
    padding: 5px;
    margin-inline: 50px; 
}

p{
    text-indent: 20px; 
    margin-inline: 50px; 
}

div, picture{
    flex: 1;
    margin-bottom: 10em;
    max-width: 100vw;
    width: 150px;
    margin: 10px;
    margin-bottom: 5em;
}
 
picture#img01{
    background-image: url(../imagens/studio1.jpg);
    background-size: 100% 100%;
    object-fit: cover;
    background-position: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.329);
}

picture#img02{
    background-image: url(../imagens/studio2.jpg);
    background-size: 100% 100%;
    object-fit: cover;
    background-position: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.329);
}

aside#video__drone{
    background-image: linear-gradient(100deg, var(--cor1), var(--cor3));
    margin: 6.5em 2.53em 6.5em 2.53em;
    padding: 50px;
    padding-bottom: 57.41%;
    position: relative;
}

div > h1#h1_drone{
    text-align: center;
}

